<!--The content below is only a placeholder and can be replaced.-->
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
  <div class="row">
    <div class="w3-panel">
      <form class="w3-card-4">
        <div class="w3-container">
            <label class="w3-text" for="connect">WebSocket connection:</label>
            <button (click)="connect()" class="w3-btn w3-blue-grey w3-padding w3-margin" type="submit">
              Connect
            </button>
            <button (click)="disconnect()" class="w3-btn w3-blue-grey w3-padding w3-marging" type="submit">
              Disconnect
            </button>
            <label class="w3-text" for="connect"> {{isConnected? "Connected": "NotConnected"}}</label>
        </div>
      </form>
    </div>
    <div class="w3-panel">
      <form class="w3-card-4">
        <app-list [listElements]="messageList"></app-list>
      </form>
    </div>
    <div class="w3-panel">
      <div class="w3-card-4">
        <form class="w3-container">
          <label class="w3-text w3-margin" for="name">Name : </label>
          <input type="text" [(ngModel)]="message.name" class="w3-input w3-border w3-light-grey w3-margin" name="name"> <br>
          <label class="w3-text w3-margin" for="name">Message : </label>
          <input type="text" [(ngModel)]="message.message" class="w3-input w3-border w3-light-grey w3-margin" name="message"> <br>
          <button class="w3-btn w3-blue-grey w3-padding w3-margin" (click)="sendMessage()" type="submit">
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
